In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [3]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path ("../Credit_Risk/lending_data.csv")
df_lending_data = pd.read_csv(file_path)
# Review the DataFrame
df_lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [13]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_lending_data["loan_status"]
#.values.reshape(-1, 1)

# Separate the X variable, the features
X = df_lending_data.copy()
X.drop("loan_status", axis=1, inplace=True)

In [14]:
# Review the y variable Series
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [15]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [16]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [17]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [43]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
LR_model = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data
LR_model.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [20]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0
...           ...     ...
45639           0       0
11301           0       0
51614           0       0
4598            0       0
2793            0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [22]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, predictions)

0.9520479254722232

In [45]:
# Generate a confusion matrix for the model
cm = confusion_matrix(y_test, predictions)
print("Confusion Matrix")
display(cm)

Confusion Matrix

array([[18663,   102],
       [   56,   563]])

In [46]:
# Print the classification report for the model
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model is very effective predicting healthy loans(0) with a precision of 100%, however the same cannot be said for high-risk loans (1). The logistic regression model has a precision of 85% for high-risk loans. This indicates the model is accurate at representing healthy loans but not high-risk loans.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [25]:
pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
     |████████████████████████████████| 226 kB 1.8 MB/s eta 0:00:01
Requirement already satisfied: joblib>=1.1.1 in /Users/paolaaleman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/paolaaleman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/paolaaleman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/paolaaleman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.18.1)
Requirement already satisfied: scipy>=1.3.2 in /Users/paolaaleman/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from imbalanced-learn) (1.4.1)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.10.1
Note: you may need to restart the kernel to use updated packages.

In [71]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ROSmodel = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_train, y_train = ROSmodel.fit_resample(X, y)

In [72]:
# Count the distinct values of the resampled labels data
y_train.value_counts()

1    75036
0    75036
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [73]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
resampled_LR = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using the resampled training data
resampled_LR.fit(X_train, y_train)

# Make a prediction using the testing data
resampled_LR_predictions = classifier.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [74]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_test, resampled_LR_predictions)

0.9520479254722232

In [75]:
# Generate a confusion matrix for the model
cm= confusion_matrix(y_test, resampled_LR_predictions)
cm

array([[18663,   102],
       [   56,   563]])

In [76]:
# Print the classification report for the model
print(classification_report(y_test, resampled_LR_predictions))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model is mostly accurate having a 95% balanced accuracy score. The precision for healthy loans(0) is 100% while the accuracy for high-risk loan is 85%.